.app-footer {
  position: fixed;
  padding: 0 1%;
  margin: 0;
  height: 36px;
  display: flex;
  align-items: center;
  background: $color-subtle-bg;
  color: $color-text;
  right: 0;
  bottom: 0;
  transition: $transition;

  p {
    opacity: 0.5;
    margin: 0;

    span {
      font-weight: bold;
      text-transform: capitalize;
    }
  }
}
