.track-calendar {
  position: relative;

  &__timeline {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 17px;

    .day {
      border: 1px solid $color-bg;
      min-width: 96px;
      width: 96px;
      min-height: 124px;
      height: 124px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 24px 6px;
      border-radius: 8px;

      &__date {
        margin: 0 auto 24px;
        font-family: $font-mono;
        color: $color-black;
      }

      &__milestone {
        position: relative;
      }

      &__marker {
        cursor: pointer;
        transition: $transition;

        &:hover {
          opacity: 0.8;
        }
      }

      &__details {
        &.hidden {
          display: none;
        }

        &.visible {
          display: flex;
        }

        width: 300px;
        position: absolute;
        background: $color-bg;
        border-radius: 4px;
        left: -150px;
        z-index: 1000;
        flex-direction: column;
        text-align: center;
        padding: 24px;
      }
    }

    .month-of-jan { background: rgba(237, 202, 191, 0.9); }
    .month-of-feb { background: rgba(171, 173, 203, 0.9); }
    .month-of-mar { background: rgba(177, 207, 153, 0.9); }
    .month-of-apr { background: rgba(225, 188, 203, 0.9); }
    .month-of-may { background: rgba(165, 191, 218, 0.9); }
    .month-of-jun { background: rgba(216, 226, 178, 0.9); }
    .month-of-jul { background: rgba(202, 171, 177, 0.9); }
    .month-of-aug { background: rgba(161, 203, 218, 0.9); }
    .month-of-sep { background: rgba(247, 237, 181, 0.9); }
    .month-of-oct { background: rgba(177, 155, 190, 0.9); }
    .month-of-nov { background: rgba(146, 194, 181, 0.9); }
    .month-of-dec { background: rgba(236, 191, 119, 0.9); }
  }

  &__modal-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 99999;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: $transition;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__modal {
    border-radius: 4px;
    width: 420px;
    color: $color-text;
    background: $color-bg;
    position: relative;
    display: flex;
    padding: 24px;
    box-shadow: 0 0 15px $color-shadow;

    .modal {
      &__close {
        position: absolute;
        right: 12px;
        top: 12px;
        cursor: pointer;
        transition: $transition;

        &:hover {
          opacity: 0.8;
        }
      }

      &__details {
        p {
          line-height: 1.5;
        }
      }
    }

    .details {
      &__title {
        font-size: 2.8em;
        margin-bottom: 4px;
      }

      &__date {
        font-family: $font-mono;
        margin-bottom: 24px;
      }

      &__description {

      }
    }
  }
}


