.track-section-buttons {
  position: absolute;
  right: 3%;
  top: 48px;
}

.track-list {
  &--item {
    border: 1px solid $color-subtle-bg;
    border-radius: 4px;
    padding: 16px 24px 4px;
    margin: 0 auto 24px;
  }
}

.track-calendar {
  position: relative;

  &__timeline {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid $color-subtle-bg;
    border-left: 1px solid $color-subtle-bg;

    .weekday {
      border-right: 1px solid $color-subtle-bg;
      border-bottom: 1px solid $color-subtle-bg;
      min-width: 14.2857142857%;
      width: 14.2857142857%;
      min-height: 46px;
      height: 46px;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      margin: 0;
    }

    .day {
      border-right: 1px solid $color-subtle-bg;
      border-bottom: 1px solid $color-subtle-bg;
      min-width: 14.2857142857%;
      width: 14.2857142857%;
      min-height: 148px;
      height: 148px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 16px;
      position: relative;
      justify-content: center;
      cursor: pointer;

      &__month-and-year {
        position: absolute;
        color: $color-text;
        left: 16px;
        top: 16px; 
        margin: 0;
        font-size: 1.6em;
      }

      &__day-of-month {
        position: absolute;
        color: $color-text;
        left: 16px;
        bottom: 16px;
        font-size: 1.5em;
        margin: 0;
      }

      &:hover {
        opacity: 0.7;
      }

      &.is-before-start {
        cursor: auto;

        &:hover {
          opacity: 1;
        }

        .day__day-of-month {
          opacity: 0.3;
        }
      }

      &__milestone {
        position: relative;
      }

      &__marker {
        cursor: pointer;
        color: $color-blue;
        transition: $transition;

        &:hover {
          opacity: 0.8;
        }
      }

      &__details {
        &.hidden {
          display: none;
        }

        &.visible {
          display: flex;
        }

        width: 300px;
        position: absolute;
        background: $color-bg;
        border-radius: 4px;
        left: -150px;
        z-index: 1000;
        flex-direction: column;
        text-align: center;
        padding: 24px;
      }
    }

    .month-of-jan { background: rgba(237, 202, 191, 0.2); }
    .month-of-feb { background: rgba(171, 173, 203, 0.2); }
    .month-of-mar { background: rgba(177, 207, 153, 0.2); }
    .month-of-apr { background: rgba(225, 188, 203, 0.2); }
    .month-of-may { background: rgba(165, 191, 218, 0.2); }
    .month-of-jun { background: rgba(216, 226, 178, 0.2); }
    .month-of-jul { background: rgba(202, 171, 177, 0.2); }
    .month-of-aug { background: rgba(161, 203, 218, 0.2); }
    .month-of-sep { background: rgba(247, 237, 181, 0.2); }
    .month-of-oct { background: rgba(177, 155, 190, 0.2); }
    .month-of-nov { background: rgba(146, 194, 181, 0.2); }
    .month-of-dec { background: rgba(236, 191, 119, 0.2); }
  }

  &__modal-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 99999;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: $transition;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__modal {
    border-radius: 4px;
    width: 420px;
    color: $color-text;
    background: $color-bg;
    position: relative;
    display: flex;
    padding: 24px;
    border: 1px solid $color-shadow;

    .modal {
      &__close {
        position: absolute;
        right: 12px;
        top: 12px;
        cursor: pointer;
        transition: $transition;

        &:hover {
          opacity: 0.8;
        }
      }

      &__details {
        p {
          line-height: 1.5;
        }
      }
    }

    .details {
      &__title {
        font-size: 2.8em;
        margin-bottom: 4px;
      }

      &__date {
        font-family: $font-mono;
        margin-bottom: 24px;
      }
    }
  }
}


