.form__buttons {
  display: flex;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 22px;
  margin: 0 1em 1em 0;
  height: 48px;
  color: $color-white;
  background: $color-blue;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  transition: $transition;
  outline: none;
  border: none;

  &:hover {
    opacity: 0.8;
    box-shadow: 0 0 5px $color-shadow;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: auto;
    cursor: not-allowed;

    &:hover {
      opacity: 0.5;
    }
  }

  &--error {
    background: $color-error;
  }
  
  &--warning {
    background: $color-warning;
  }
  
  &--info {
    background: $color-info;
  }
  
  &--success {
    background: $color-success;
  }

  &--primary {
    background: $color-blue;
  }

  &--secondary {
    background: $color-bg;
    color: $color-blue;
    border: 2px solid $color-blue;
  }

  &--with-icon {
    padding: 0 22px 0 4px;
  }

  i {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

