.app-header {
  position: fixed;
  padding: 0 4%;
  height: 72px;
  width: 100%;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  margin: 0;
  background: $color-bg;
  color: $color-bg;
  left: 0;
  top: 0;
  transition: $transition;
  box-shadow: 0 0 15px $color-shadow;
}
