.page-content {
  min-height: 666px;

  .form {
    form {
      display: flex;
      flex-wrap: wrap;

      .input-content {
        width: 48.5%;
        
        &--odd {
          margin-right: 1.5%;
        }

        &--even {
          margin-left: 1.5%;
        }
      }
    }
  }

  .section {
    margin: 0 auto 48px;
    background: $color-bg;
    border-radius: 4px;
    padding: 3%;
    position: relative;
  }
}