.auth-page {
  background: $color-bg;
  box-shadow: 0 0 15px $color-shadow;
  width: 400px;
  margin: 32px auto;
  padding: 1.5% 2.5%;
  border-radius: 4px;
  align-self: center;
  font-size: 1.4em;

  &__nav-links {
    display: flex;
    margin: 0 auto 36px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $color-subtle-bg;

    a {
      display: flex;
      align-items: center;
      padding: 0 22px;
      margin: 0 0.5em 1em;
      height: 48px;
      background: $color-subtle-bg;
      color: $color-subtle-text;
      cursor: pointer;
      border-radius: 4px;
      transition: $transition;
      outline: none;
      border: none;

      &:hover {
        opacity: 0.8;
        box-shadow: 0 0 5px $color-shadow;
      }

      &.active {
        color: $color-white;
        background: $color-blue;

        &:hover {
          color: $color-white;
          background: lighten($color-blue, 10%);
        }
      }
    }
  }

  &__switch-link {
    display: flex;
    color: $color-blue;
    margin-top: 20px;
    justify-content: center;
    font-size: 0.83em;
  }
}