@import "./reset.css";

$gray-100: #F7FAFC;
$gray-200: #EDF2F7;
$gray-300: #E2E8F0;
$gray-400: #CBD5E0;
$gray-500: #A0AEC0;
$gray-600: #718096;
$gray-700: #4A5568;
$gray-800: #2D3748;
$gray-900: #1A202C;


$color-blue: #2196f3;
$color-orange: rgb(239, 79, 31);

$color-white: $gray-100;
$color-black: $gray-900;

$color-error: #f44336;
$color-warning: #ff9800;
$color-info: $color-blue;
$color-success: #4caf50;

$font-montserrat: Montserrat, sans-serif;
$font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, 
            Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-mono: Courier, monospace, monospace;

$transition: all 0.125s cubic-bezier(0.4, 0.0, 0.2, 1);

html, body, #root, .app {
  width: 100%;
  height: 100%;
}

body {
  font-family: $font-system;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  transition: $transition;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3.2em;
  margin-bottom: 1em;
}

h2 {
  font-size: 2.4em;
  margin-bottom: 1em;
}

h3 {
  font-size: 2em;
  margin-bottom: 1em;
}

h4 {
  font-size: 1.8em;
  margin-bottom: 1em;
}

h5 {
  font-size: 1.6em;
  margin-bottom: 1em;
}

h6 {
  font-size: 1.3em;
  margin-bottom: 1em;
}

p, ul li {
  font-size: 1.3em;
  margin-bottom: 1em;
}

blockquote {
  margin-left: 0;
  padding-left: 48px;
  line-height: 1.6;
}

a {
  text-decoration: none;
  transition: $transition;
  color: $color-blue;
  
  &:hover {
    opacity: 0.9;
  }
}

button {
  transition: $transition;

  &:hover {
    opacity: 0.9;
  }
}

.app {
  display: flex;
  flex-direction: column;
}

body.light {
  $color-bg: $gray-100;
  $color-subtle-bg: $gray-400;
  $color-text: $gray-800;
  $color-subtle-text: $gray-600;
  $color-border: $gray-900;
  $color-shadow: rgba(0, 0, 0, 0.1);

  background: $color-subtle-bg;
  color: $color-text;

  // imports
  @import '../../components/AppHeader/app-header.scss';
  @import '../../components/AppContent/app-content.scss';
  @import '../../components/AppFooter/app-footer.scss';
  @import '../../components/PageHeader/page-header.scss';
  @import '../../components/PageContent/page-content.scss';

  @import '../../components/Loader/loader.scss';
  @import '../../components/Button/button.scss';
  @import '../../components/ButtonGroup/button-group.scss';
  @import '../../components/Input/input.scss';
  @import '../../components/Alert/alert.scss';
  @import '../../components/Grid/grid.scss';
  
  @import '../../components/ThemeSwitch/theme-switch.scss';
  @import '../../components/Branding/branding.scss';
  @import '../../components/MainNav/main-nav.scss';
  @import '../../components/Auth/auth.scss';
  @import '../../components/NoContent/no-content.scss';
  @import '../../components/Tracks/track-calendar.scss';
}

body.dark {
  $color-bg: $gray-800;
  $color-subtle-bg: $gray-600;
  $color-text: $gray-300;
  $color-subtle-text: $gray-500;
  $color-border: $gray-400;
  $color-shadow: rgba(255, 255, 255, 0.1);

  background: $color-subtle-bg;
  color: $color-text;
  
  // imports
  @import '../../components/AppHeader/app-header.scss';
  @import '../../components/AppContent/app-content.scss';
  @import '../../components/AppFooter/app-footer.scss';
  @import '../../components/PageHeader/page-header.scss';
  @import '../../components/PageContent/page-content.scss';

  @import '../../components/Loader/loader.scss';
  @import '../../components/Button/button.scss';
  @import '../../components/ButtonGroup/button-group.scss';
  @import '../../components/Input/input.scss';
  @import '../../components/Alert/alert.scss';
  @import '../../components/Grid/grid.scss';
  
  @import '../../components/ThemeSwitch/theme-switch.scss';
  @import '../../components/Branding/branding.scss';
  @import '../../components/MainNav/main-nav.scss';
  @import '../../components/Auth/auth.scss';
  @import '../../components/NoContent/no-content.scss';
  @import '../../components/Tracks/track-calendar.scss';
}

