.grid {
  width: 100%;
  font-size: 1.4em;
  border-bottom: 1px solid $color-subtle-bg;
  border-right: 1px solid $color-subtle-bg;

  &__row-item {
    padding: 20px;
    text-align: left;
    border-top: 1px solid $color-subtle-bg;
    border-left: 1px solid $color-subtle-bg;
  }

  &__header-item {
    background: $color-subtle-bg;
    color: $color-text;
    font-weight: bold;
    border-left: 1px solid $color-text;
  }
}
