.loader-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 99999;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: $transition;
  display: flex;
  align-items: center;
  justify-content: center;

  .loader {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 6px solid darken($color-white, 25);
    border-top-color: transparent;
    animation-name: spinLoader;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-duration: .5s;
  }

  p {
    text-indent: -999em;
  }
}

@keyframes spinLoader {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}